.contact-content{
    /* display: block; */
    height: 100vh;
    padding: 9px;
    margin-top: 22px;
    position: relative;
    overflow: hidden;
}
.contact-content::after{
    content: "";
    background-image: url('../Images/Contactus5.jpg');
    position: absolute;
    top: 0;
    width: 100%;
    /* background-repeat: no-repeat; */
    height: inherit;
    opacity: 0.2;
    border-radius: 5px;
    z-index: -1;
    /* text-align: center; */
}
.contact-form{

}
